@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
html {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #EEE;
}
h1, h2, h3, h4 {
    font-family: 'Open Sans Light', Arial, sans-serif;
}
th, td {
    padding: .5em;
}
table {
    margin-top: 1em;
}
blockquote {
    clear: both;
}
.event-info {
    margin: 1em 0 0 0;
}
