<Files "presence.db">
    Require all denied
</Files>
<Files "*.py">
    Require all denied
</Files>
<Files "*.pyc">
    Require all denied
</Files>
<Files "*.sh">
    Require all denied
</Files>
<Files "*.sql">
    Require all denied
</Files>
